@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif+Display&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Ovo&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  
  --color-primary: #5521FF;
  --color-secondary: #6d28d9;
  --color-on-primary: #ffffff;
  --color-background: #fafafa;
  --color-surface: #ffffff;
  --color-surface-container-low: #fafafa;
  --color-on-surface: #09090b;
  --color-on-surface-variant: #52525b;
  --color-outline-variant: #e4e4e7;

  --color-violet-600: #522bff;
  --color-violet-700: #522cfe;
}
